@import "tailwindcss";
@import "vue-select/dist/vue-select.css";

@theme {
  --color-dark: #210f37;
  --color-midDark: #4f1c51;
  --color-accent: #dca06d;
  --color-text: #99bc85;
  --color-primary: #f6f0f0;
  --color-gray: #f7cfd8;
}

p {
  font-size: 14px;
  color: var(--color-text);
}

h1 {
  font-size: 20px;
  color: var(--color-text);
}

span {
  font-size: 15px;
  color: var(--color-midDark);
}

:root {
  background-color: var(--color-primary);
}

/* Hide scrollbars but allow scrolling */
.no-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
